{% load static %}<nav class="navbar navbar-dark bg-dark border-bottom navbar-expand-lg fixed-top py-0">
    <div class="container-fluid">
        <span class="navbar-brand" style="color:steelblue;">
            <img src="{% static 'favicon.ico' %}" alt="" width="24" height="24">
            django Application
        </span>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'HomeTemplateView' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url '_accounttype:ObjectTemplateView' %}">Account Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url '_account:ObjectTemplateView' %}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url '_business:ObjectTemplateView' %}">Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url '_transaction:ObjectTemplateView' %}">Transaction</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> -->
            </ul>
            <!-- <form class="d-flex" role="search">
                <input class="form-control form-control-sm" type="search" placeholder="Search">
                <button class="btn btn-sm btn-secondary me-5" type="submit">Search</button>
            </form> -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>