{% load crispy_forms_tags %}
{% if form.instance.id %}
    <form action="{{ form.instance.get_update_url }}" method="post" class="UpdateForm">
{% else %}
    {% if find %}
        <form action="find/" method="post" class="FindForm">
    {% else %}
        <form action="create/" method="post" class="CreateForm">
    {% endif %}
{% endif %}

    {% csrf_token %}
    <input type="hidden" name="pagenumber" value="">
    <input type="hidden" name="sortby" value="">
    <input type="hidden" name="find" value="">
    <script>
        document.querySelector('[name=pagenumber]').value = document.querySelector('[name=hidden_pagenumber]').value;
        document.querySelector('[name=sortby]').value = document.querySelector('[name=button_sortby]').value;
        document.querySelector('[name=find]').value = document.querySelector('[name=button_find]').value;
    </script>

    <div class="modal-header">
        {% if form.instance.id %}
            <h5 class="modal-title text-primary" id="objectModalTitle">Updating...</h5>
        {% else %}
            {% if find %}
                <h5 class="modal-title text-primary" id="objectModalTitle">Finding...</h5>
            {% else %}
                <h5 class="modal-title text-primary" id="objectModalTitle">Creating...</h5>
            {% endif %}
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body" id="objectModalBody">
        {{ form|crispy }}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-outline-success">
            {% if find %}
                Find
            {% else %}
                Save
            {% endif %}
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Close</button>
    </div>
</form>