<div class="d-flex justify-content-between mt-3">
    <div>
        <h4 class="text-danger">List of Person</h4>
    </div>
    <div>
        <button class="btn btn-sm btn-success button_create" data-url="{% url 'application:PersonCreateView' %}" data-toggle="modal" data-target="#crudModal">Create</button>
    </div>
</div>
<table class="table table-sm table-light table-strip table-hover mt-3">
    <thead class="table-secondary">
        <tr>
            <th>Person</th>
            <th style="width: 4%;">Detail</th>
            <th style="width: 4%;">Update</th>
            <th style="width: 4%;">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                <td class="text-primary">{{ object }}</td>
                <td><button class="btn btn-sm btn-secondary button_detail" data-url="{{ object.get_detail_url }}" data-toggle="modal" data-target="#crudModal">Detail</button></td>
                <td><button class="btn btn-sm btn-warning button_update" data-url="{{ object.get_update_url }}" data-toggle="modal" data-target="#crudModal">Update</button></td>
                <td><button class="btn btn-sm btn-danger button_delete" data-url="{{ object.get_delete_url }}" data-toggle="modal" data-target="#crudModal">Delete</button></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-danger" style="text-align: center;">No data found to display.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>